<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Vue Budget ex</title>
        <meta name="description" content="descr-meta for Vue Event test"/>  
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <style></style>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script> 


        <style>
input {
  margin-left: 10px;
  width: 50px;
}

input[type=submit] {
  width: 100px;
}            
        </style>            
    </head>
    <body>
<p>The form below is in the DOM, not in a template.</p>
 <form id="app" @submit="checkForm" action="/something" method="post" novalidate="true">
  
  <div v-if="errors.length">
    <b>Please correct the following error(s):</b>
    <ul>
      <li v-for="error in errors">{{ error }}</li>
    </ul>
  </div>

  <p>
    Given a budget of 100 dollars, indicate how much
    you would spend on the following features for the
    next generation Star Destroyer:
  </p>

    <p>We can bind regular @click events here in the DOM.  <br/>
        But @weird events need help from slot-scope, in order to find the vue instance. <br/>
        <button @click="reduceWeapons(2)">TRY to Reduce Weapons</button>
     </p>
  <p>
    <input type="number" name="weap" v-model.number="weapons"> Weapons <br/>
    <input type="number" name="shld" v-model.number="shields"> Shields <br/>
    <input type="number" name="coff" v-model.number="coffee"> Coffee <br/>
    <input type="number" name="airc" v-model.number="ac"> Air Conditioning <br/>
    <input type="number" name="mdrd" v-model.number="mousedroids"> Mouse Droids <br/>
  </p>

  <p>
    Current Total: {{total}}
  </p>

  <p>
    <input type="submit" value="Submit">  
  </p>
     
     
     <div>
<input type="checkbox" id="checkbox" v-model="flagVal">
<label for="checkbox">{{ flagVal }}</label>         
     </div>
     
<div id='example-3'>
  <input type="checkbox" id="jack" value="Jack" v-model="flagsArr">
  <label for="jack">Jack</label>
  <input type="checkbox" id="john" value="John" v-model="flagsArr">
  <label for="john">John</label>
  <input type="checkbox" id="mike" value="Mike" v-model="flagsArr">
  <label for="mike">Mike</label>
  <br>
  <span>Checked names: {{ flagsArr }}</span>
</div>

<div>
<input type="radio" id="ione" value="vOne" v-model="pickVal">
<label for="ione">One</label>
<br>
<input type="radio" id="itwo" value="vTwo" v-model="pickVal" disabled="disabled">
<label for="itwo">Two (disabled is an attribute, yeah?) </label>
<br>
<input type="radio" id="ithree" value="vThree" v-model="pickVal">
<label for="ithree">LThree</label>
    
<br>
<span>Picked: {{ pickVal }}</span>    
</div>

<div>     
<select v-model="singleSelVal">
  <option disabled value="ncd">Please select one</option>
  <option>A</option>
  <option>B</option>
  <option>C</option>
</select>
<span>Selected: {{ singleSelVal }}</span>
</div>    
     
     <div> 
<select v-model="multiSelVal" multiple>
  <option>A</option>
    <option disabled="disabled" value="np">nope</option>
  <option>B</option>
  <option>C</option>
</select>
<br>
<span>Selected: {{ multiSelVal }}</span>
     </div>
     
     <div>Dynamic opt list:
<select v-model="dynSelVal">
  <option v-for="optn in dynSelOpts" v-bind:value="optn.value">
    {{ optn.text }}
  </option>
</select>
<span>Selected: {{ dynSelVal }}</span>         

     </div> 
         
     <div>
<input v-model="shortMsg" placeholder="edit me">
<p>Short Message is: {{ shortMsg }}</p>
     </div>
     
     
     <div>
<span>Multiline message is:</span>
<p style="white-space: pre-line;">{{ longMsg }}</p>
<br>
<textarea v-model="longMsg" placeholder="add multiple lines"></textarea>
     </div>
     
     
<p>
v-model will ignore the initial value, checked or selected attributes found on any form elements. It will always treat the Vue instance data as the source of truth. You should declare the initial value on the JavaScript side, inside the data option of your component.    
</p>
</form>
<script>
    const app = new Vue({
  el:'#app',
  data:{
    errors:[],
    weapons:0,
    shields:0,
    coffee:0,
    ac:0,
    mousedroids:0,
      
    shortMsg: "iv of sm",
      
    longMsg: "iv of lm",
      
    flagVal: false,
      
    flagsArr: [],
      
    pickVal: "iv of pickVal",
      
    singleSelVal: "iv of selVal",
      
    multiSelVal:  ['huh', 'what'],
    dynSelVal: 'ds iv',
    dynSelOpts: [
      { text: 'One', value: 'A' },
      { text: 'Two', value: 'B' },
      { text: 'Three', value: 'C' }
    ]      
  },
  computed:{
     total:function() {
       //must parse cuz Vue turns empty value to string
       return Number(this.weapons)+
         Number(this.shields)+
         Number(this.coffee)+
         Number(this.ac+this.mousedroids);
     }
  },
  methods:{
    checkForm:function(e) {
      this.errors = [];
      if(this.total != 100) {
          this.errors.push("Total must be 100!");
          this.errors.push("But your total is: " + this.total);
      }
      if(!this.errors.length) {
          return true;
      } else {
        e.preventDefault();
        return false;
      }
    },
        
    reduceWeapons:function(amt) {
      this.weapons -= amt;
    }

  }
})
</script>
    </body>
</html>